# Exclude all files
*

# Include specific files and folders
!.gitignore
!.husky/
!.prettierignore
!.prettierrc
!.sf/
!README.md
!config/
!force-app/
!jest.config.js
!package.json
!scripts/
!sfdx-project.json

